.header {
    width: 800px;
    height: 400px;
    display: inline-block;
    background-image: url(/images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: antiquewhite;
}